*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: $text-color-dark;
  line-height: 1.4;
  letter-spacing: 1px;
}

#root {
  //To keep the footer at thebottom of the page
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
}


button:focus,
button:active,
input:active,
input:focus,
textarea:focus,
textarea:active {
  outline: none !important;
}