.homepage {
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .create-form-section {
    margin-bottom: 48px;

    .form-box {
      padding: 36px;

      @include respond(phone) {
        padding: 24px;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-section {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 16px;
          width: 100%;

          @include respond(phone) {
            flex-direction: column;
            align-items: flex-start;
          }

          .text-field {
            flex: 1;
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .entry-table-section {
    .custom-table {
      thead {
        background: $primary-color;

        th {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
        }
      }

      tbody {
        td {
          font-size: 14px;
        }
      }
    }
  }
}