.app-header {
  height: 70px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  color: #FFF;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 24px;

  .left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 36px;

    img {
      height: 40px;
      color: mistyrose;
    }

    .app-header-title {
      margin-left: 16px;
      font-size: 1.2em;
    }
  }
}