$primary-font: 'Raleway',
Arial,
Helvetica,
sans-serif;
$primary-color: #0076ff;
$color-black: #000;
$color-white: #fff;
$color-grey: #7a7a7a;
$text-color-dark: #000000;
$bg-color: #F6F6F6;
$input-bg: #F5FAFF;