@keyframes spin {
  0% {
    transform: rotate(0);
    transform-origin: center center; }
  100% {
    transform: rotate(360deg);
    transform-origin: center center; } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .8; }
  50% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .8; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #000000;
  background-color: #F6F6F6;
  line-height: 1.4;
  letter-spacing: 1px;
  width: 100%; }

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Arial, Helvetica, sans-serif; }

h1 {
  font-size: 5rem;
  font-weight: 700; }

h2 {
  font-size: 4rem;
  font-weight: 700; }

h3 {
  font-size: 3rem;
  font-weight: 700; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  border: none;
  background: none; }

button:focus,
button:active,
input:active,
input:focus,
textarea:focus,
textarea:active {
  outline: none !important; }

main {
  max-width: 1140px;
  width: 100%;
  margin: 48px auto;
  padding: 0 48px; }
  @media only screen and (max-width: 37.5em) {
    main {
      margin: 24px auto;
      padding: 0 24px; } }

.MuiSelect-selectMenu {
  text-transform: capitalize; }

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  width: 100%;
  margin: auto;
  height: 100%; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-fit {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.text-center {
  text-align: center; }

.app-header {
  height: 70px;
  background-color: #0076ff;
  display: flex;
  align-items: center;
  color: #FFF;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 24px; }
  .app-header .left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 36px; }
    .app-header .left-side img {
      height: 40px;
      color: mistyrose; }
    .app-header .left-side .app-header-title {
      margin-left: 16px;
      font-size: 1.2em; }

.custom-button {
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  letter-spacing: 1 !important;
  margin: 0 !important; }

.text-field {
  background: #fff; }
  @media only screen and (max-width: 37.5em) {
    .text-field {
      margin-bottom: 18px !important;
      width: 100%; } }
  .text-field label {
    font-size: 16px !important;
    font-weight: 600; }
  .text-field legend {
    font-size: 1.15em;
    max-width: 1000px; }
  .text-field input {
    font-size: 14px; }
    .text-field input::placeholder {
      color: #000 !important;
      opacity: 1 !important; }
  .text-field svg {
    font-size: 24px; }
  .text-field .custom-select > div {
    font-size: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 1; }
  .text-field .custom-select .placeholder-item {
    font-weight: 300; }
  .text-field .MuiInputAdornment-positionStart p {
    font-size: 14px; }

.custom-table {
  font-size: 14px;
  min-width: 375px; }

.homepage .header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px; }
  @media only screen and (max-width: 37.5em) {
    .homepage .header-section {
      flex-direction: column;
      align-items: flex-start; } }

.homepage .create-form-section {
  margin-bottom: 48px; }
  .homepage .create-form-section .form-box {
    padding: 36px; }
    @media only screen and (max-width: 37.5em) {
      .homepage .create-form-section .form-box {
        padding: 24px; } }
    .homepage .create-form-section .form-box form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .homepage .create-form-section .form-box form .input-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 16px;
        width: 100%; }
        @media only screen and (max-width: 37.5em) {
          .homepage .create-form-section .form-box form .input-section {
            flex-direction: column;
            align-items: flex-start; } }
        .homepage .create-form-section .form-box form .input-section .text-field {
          flex: 1;
          margin-right: 8px; }
          .homepage .create-form-section .form-box form .input-section .text-field:last-child {
            margin-right: 0; }

.homepage .entry-table-section .custom-table thead {
  background: #0076ff; }
  .homepage .entry-table-section .custom-table thead th {
    color: #fff;
    font-size: 14px;
    font-weight: 600; }

.homepage .entry-table-section .custom-table tbody td {
  font-size: 14px; }
